<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/1021285/OneDrive - Blue Yonder/Personal/JavaProjects/CoreJavaBasics">
        <classes>
            <class name="testNG_Example.ActionExample">
                <methods>
                    <include name="MultipleActions"/>
                    <include name="HoverAction"/>
                    <include name="HoverAction1"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>